@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

.font-Ovo {
  font-family: var(--font-ovo), "Ovo", serif;
}